@font-face {
    font-family: "myFont";
    src: url(../../plugins/字體/清松手寫體4.ttf)
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "myFont", 'Noto Sans TC', sans-serif;
    font-weight: 600;
}

html {
    scroll-behavior: smooth;

    h2 {
        font-size: 1.5rem;
    }
}

body {
    background: url('//assets/styles/images/Pictures/skyscraper1.jpg') center/contain repeat;
    z-index: -10;
}

/* scrollbar setting */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(230, 230, 230);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #333;
}

nav {
    height: 87px;
    // position: relative;
    position: sticky;
    top: 0;
    z-index: 3;
    box-shadow: 3px 3px 5px 1px rgb(107, 107, 107);
    background-color: rgba(255, 255, 255, 0.9);

    .navbar {
        @media screen and (max-width:865px) {
            #nav-btn:checked~.nav-list {
                display: flex;
            }
        }

        // width: calc(100vw);
        margin: auto;
        padding: .2rem 5%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;

    }

    .LogoName {
        height: 4rem;
    }

    #nav-btn {
        display: none;
    }

    .nav-btn {
        border: .5px dotted rgba(34, 34, 34, 0.5);
        border-radius: 15%;
        width: 36px;
        height: 36px;
        background: rgb(230, 230, 230);
        padding: 6px;
        text-align: center;
        cursor: pointer;
        display: none;

        &:hover {
            background-color: #333;
        }

        &:hover:before {
            color: rgba(255, 255, 255, 1);
        }

        &::before {
            font-family: FontAwesome;
            content: "\f0c9";
            font-size: 24px;
            color: #222;
        }

        @media screen and (max-width:865px) {
            display: block;
        }
    }

    .nav-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        list-style-type: none;
        padding-left: 1rem;
        justify-items: flex-end;

        @media screen and (max-width:865px) {
            display: none;
            // width: 100vw;
            flex-direction: column;
            position: absolute;
            top: 4.5rem;
            right: 0rem;
            background-color: rgba(255, 255, 255, 1);
            box-shadow: 3px 3px 5px 1px rgb(107, 107, 107);
        }

        li {
            display: flex;

            a {
                padding: 1.5rem .75rem;
                color: rgb(0, 0, 0);
                text-decoration: none;
                border-radius: 2rem;
                transition: all .5s ease;

                &:hover {
                    color: rgb(47, 0, 255);
                }

                @media screen and (max-width:865px) {
                    width: 100vw;
                    text-align: center;
                    border-radius: unset;

                    &:hover {
                        background-color: rgba(245, 245, 245, 01);
                    }
                }
            }
        }
    }
}

footer {
    padding: 1.5rem 0 .5rem 0;
    background-color: #E4E4E4;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1rem;

    .Icons {
        display: flex;
        align-items: center;

        .contact-icon:hover {
            transform: scale(1.1);

            img {
                opacity: .3;
            }
        }

        .FootLogo {
            height: 3.3rem;
        }

        .ATel {
            img {
                scale: .89;
            }
        }

        .contactIcon {
            margin-left: .5rem;
            height: 2.3rem;
        }
    }

    .contact {
        margin: .5rem 0;
    }

    .copyright {
        margin-top: .5rem;
    }
}

.top-btn-side {
    width: 100px;
    height: 100vh;
    position: fixed;
    bottom: 5rem;
    right: -1.7rem;
    padding-top: 85vh;
    padding-left: 50px;
    transition: all .5s;

    &:hover {
        width: 60px;
        padding-left: 0px;
        right: 0rem;
        transition: all .5s;
    }

    .top-btn {
        opacity: .5;

        &:hover {
            opacity: 1;
            transition: all .5s;
        }
    }

    @media screen and (max-width: 576px) {
        // display: none;
        width: unset;
        height: unset;
        padding: unset;
        bottom: 1rem;
        right: .5rem;

        &:hover {
            width: unset;
            // padding-left: 0px;
            right: .5rem;
            transition: all .5s;
        }
    }

    @media screen and (max-width: 415px) {
        &:hover {
            opacity: .5;
        }
    }
}

.container {
    font-size: 1.2rem;
    padding: 0;
    position: relative;
}

span.describe {
    font-size: 1rem;
    font-family: sans-serif;
}



@import './pages/homepage.scss';
@import './pages/product.scss';