    .banner {
        height: 400px;
        background: no-repeat center/contain url(../images/Icons/Name-card.png);

        @media screen and (max-width: 576px) {
            height: 30vh;
        }
    }

    #about {
        height: 700px;
        position: relative;

        @media screen and (max-width: 992px) {
            position: unset;
            height: unset;
            position: unset;
            display: block;
        }

        .board {
            width: 60vw;
            max-width: 1000px;
            height: 500px;
            max-height: 850px;
            padding: 3rem 4.5rem;

            @media screen and (max-width: 992px) {
                width: unset;
            }

            @media screen and (max-width: 576px) {
                padding: 3rem 1.5rem;
            }
        }

        .news {
            background-color: rgba(95, 95, 95, 1);
            opacity: 1;
            background-image: repeating-radial-gradient(circle at 0 100%, transparent 0, rgba(95, 95, 95, 1) 10px), repeating-linear-gradient(#00000055, #000000);
            clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

            @media screen and (max-width: 992px) {
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }

            h2 {
                font-weight: 400;
            }

            color: #ffffff;

            ul {
                // list-style-type: none;
                padding: 1.5rem 2rem;

                li {
                    padding: .5rem;

                    a {
                        text-decoration: none;
                        color: #fff;
                        font-size: 1.5rem;

                        &:hover {
                            color: rgb(187, 247, 255);
                        }
                    }
                }
            }
        }

        .about {
            background-color: rgba(197, 197, 197, 1);
            opacity: 1;
            background-image: repeating-radial-gradient(circle at 100% 0, transparent 0, rgba(197, 197, 197, 1) 10px), repeating-linear-gradient(#e2feff55, #e2feff);
            clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
            position: absolute;
            right: 0;
            bottom: 0;
            padding-left: calc(20%);

            @media screen and (max-width: 992px) {
                position: unset;
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                padding: 3rem 4.5rem;
            }

            @media screen and (max-width: 576px) {
                padding: 3rem 1.5rem;
            }


            .text-box {
                // min-height: 150px;
                padding: .5rem 1rem 1rem 1rem;
                position: relative;

                .text {
                    overflow-y: auto;
                    height: 7rem;

                    @media screen and (max-width: 576px) {
                        // height: 6rem;
                    }
                }

                // .about-btn {
                //     // font-size: 1.2rem;
                //     padding: .2rem .5rem;
                //     position: absolute;
                //     bottom: 1rem;
                //     right: 0;
                //     border: none;

                //     &:hover {
                //         background-color: rgba(230, 230, 230, 1);
                //         transform: scale(1.1);
                //     }
                // }
            }

            .serve {
                padding: 1rem 0;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: flex-start;


                .keys,
                .others {
                    display: flex;
                    justify-content: center;

                    .serve-item {
                        white-space: nowrap;
                        margin: .25rem .5rem;
                        padding: .5rem 1rem;
                        text-align: center;
                        border-radius: 2rem;
                        background-color: #fff;
                        cursor: pointer;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.8);
                            transform: scale(1.1);
                        }

                    }
                }

                .others {
                    flex-wrap: wrap;
                }

                a {
                    align-self: flex-end;
                    text-decoration: none;
                    color: rgba(0, 0, 255, 1);
                    margin-top: 1.5rem;

                    &:hover {
                        border: 1px dashed rgba(0, 0, 255, 1);
                        color: rgba(0, 0, 255, 0.8);
                        transform: scale(1.1);
                    }
                }
            }
        }
    }

    #info {
        padding: 3rem 4.5rem;

        @media screen and (max-width: 576px) {
            padding: 3rem 1.5rem;
        }

        .tab {
            position: relative;
            margin-top: 2rem;
            overflow: hidden;

            &::before {
                content: "";
                width: 100vw;
                height: 2px;
                background-color: black;
                position: absolute;
                bottom: 0;
            }

            .tablinks {
                background-color: #ddd;
                border: none;
                border-radius: 10px 10px 0 0;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 1.2rem;

                &:hover {
                    background-color: rgb(62, 186, 235);
                }

                &.active {
                    background-color: bisque;
                }
            }


        }

        .tabcontent {
            display: none;
            border-top: none;
            justify-content: center;
            text-align: center;

            &.active {
                display: flex;
            }

            .card-box {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                overflow: auto;
                height: 320px;

                .card {
                    margin: 1rem;
                    display: flex;
                    flex-direction: column;

                    &:hover {
                        transform: scale(1.05);
                    }
                }

                .one {
                    background-color: aquamarine;
                }

                .two {
                    background-color: rgb(117, 141, 133);
                }

                .three {
                    background-color: rgb(46, 56, 53);
                }
            }
        }

    }

    #brand {
        padding: 3rem 4.5rem;

        @media screen and (max-width: 576px) {
            padding: 3rem 0rem;

            h2 {
                padding: 0rem 1.5rem;
            }
        }

        .pd-brand {
            margin-top: 2rem;

            align-items: center;
            // background: #E3E3E3;
            display: flex;
            justify-content: center;

            @mixin white-gradient {
                background: linear-gradient(to right, rgba(255, 248, 183, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
            }

            $animationSpeed: 20s;

            // Animation
            @keyframes scroll {
                0% {
                    transform: translateX(0);
                }

                100% {
                    transform: translateX(calc(-1039.07px)) //一輪品牌的總長度
                }
            }


            // Styling
            .slider {
                // background: rgb(255, 246, 161);
                box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
                height: 100px;
                overflow: hidden;
                position: relative;

                &::before,
                &::after {
                    @include white-gradient;
                    content: "";
                    height: 100px;
                    position: absolute;
                    width: 20px;
                    z-index: 2;
                }

                &::after {
                    right: 0;
                    top: 0;
                    transform: rotateZ(180deg);
                }

                &::before {
                    left: 0;
                    top: 0;
                }

                .slide-track {
                    animation: scroll $animationSpeed linear infinite;
                    display: flex;
                    width: 100vw;
                    width: calc(250px * 3);

                    .slide {
                        height: 100px;
                        width: 250px;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }

    #contact {
        padding: 3rem 0rem;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        iframe {
            border-radius: 20px;
        }

        .contact-box {
            margin-left: 5rem;

            @media screen and (max-width:997px) {
                margin: 3rem 0;
            }

            display: flex;
            flex-direction: column;
            justify-content: center;

            .contact-info {
                padding: 1rem 2rem;

                .p1 {
                    margin: .3rem 0;
                }

                a.QRcode {
                    &:hover {
                        span.p2 {
                            color: blue;
                        }
                    }

                    img {
                        margin-bottom: -.7rem;
                    }
                }

                a {
                    text-decoration: none;
                    color: black;
                }

                p {
                    &:hover {
                        a {
                            color: blue;
                        }
                    }
                }

                .open-time {
                    text-align: right;
                }
            }
        }
    }