section.container {

    .tittle {
        padding: 3rem 4.5rem 1rem;
        align-self: flex-start;
    }

    div.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;

        .mainProduct {
            min-height: 100vh;
            width: 100%;
            display: flex;
            // justify-content: space-around;

            .brandLinks {
                margin-right: 2rem;
                padding: 1.5rem .5rem;
                border: 1px solid #000;
                flex: 0.5 0 200px;
                display: flex;
                flex-direction: column;
                align-items: center;

                ul {
                    li {
                        list-style-type: none;

                        a {
                            text-decoration: none;
                            color: black;

                            &.active {
                                color: rgb(47, 0, 255)
                            }
                        }
                    }
                }
            }

            .productsBox {
                flex: 5 1 650px;
                display: flex;
                flex-direction: column;
                align-items: center;

                .tabcontent {
                    min-height: 90vh;
                    width: 100%;
                    display: none;
                    border-top: none;
                    // justify-content: center;
                    text-align: center;

                    &.active {
                        display: flex;
                    }

                    .card-box {
                        display: flex;
                        flex-wrap: wrap;
                        // justify-content: center;
                        // overflow: auto;
                        // height: 320px;
                        // min-height: 90vh;

                        .card {
                            margin: 1rem;
                            display: flex;
                            flex-direction: column;

                            &:hover {
                                transform: scale(1.05);
                            }

                            img {
                                width: 200px;
                                height: 200px;
                                scale: .7;
                                object-fit: contain;
                            }

                            span.describe {
                                max-width: 200px;
                                padding: .5rem;
                                font-size: .9rem;
                            }
                        }

                        .one {
                            background-color: aquamarine;
                        }

                        .two {
                            background-color: rgb(117, 141, 133);
                        }

                        .three {
                            background-color: rgb(46, 56, 53);
                        }
                    }
                }

                .pageLinks {
                    margin-top: 1rem;
                    button.tablinks {
                        padding: .1rem 1rem;
                        text-align: center;
                        text-decoration: none;
                        display: inline-block;
                        font-size: 16px;
                        background-color: white;
                        color: black;
                        border: 2px solid #555555;

                        &:hover {
                            background-color: #555555;
                            color: white;
                        }

                        &.active {
                            border: 2px dashed #000;
                        }
                    }
                }
            }
        }
    }
}