section.container {
    @media screen and (max-width:865px) {
        #brandName:checked~.brandLinks {
            display: flex;
        }
    }

    .tittle {
        padding: 3rem 4.5rem 1rem;
        align-self: flex-start;
        position: relative;
    }

    div.main {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 2rem;

        .mainProduct {
            min-height: 100vh;
            width: 100%;
            display: flex;

            #brandName {
                display: none;
            }

            .brandName {
                display: none;
                // border: 1px solid #000;
                position: absolute;
                top: 3.3rem;
                left: 12rem;
                color: rgb(47, 0, 255);
                cursor: pointer;
                user-select: none;
            }

            @media screen and (max-width:865px) {
                .brandName {
                    display: block;
                }
            }

            .brandLinks {
                padding: 1.5rem .5rem;
                border: 10px solid;
                border-image-slice: 1;
                border-width: 7px;
                border-image-source: linear-gradient(to left, #292929, #b6b6b6);
                flex: 0.5 0 200px;
                display: flex;
                flex-direction: column;
                align-items: center;

                ul {
                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 1.2rem;

                        &.active {
                            color: rgb(47, 0, 255)
                        }

                        li {
                            list-style-type: none;
                            width: 100%;
                            padding: 1rem;
                            margin: 0 .1rem;

                            &:hover {
                                border: 1px solid #000;
                                border-radius: 20px;
                            }
                        }
                    }
                }
            }

            div.block {
                flex: .5 6 8rem;
                height: 10px;
            }

            @media screen and (max-width:865px) {
                .brandLinks {
                    display: none;
                    position: absolute;
                    top: 5.3rem;
                    left: 11.3rem;
                    z-index: 5;
                    border-image-slice: 1;
                    border-width: 5px;
                    border-image-source: linear-gradient(to bottom, #c4a000, #3f3f3f);
                    padding: 0;
                    width: 11.5rem;

                    ul {
                        padding: .5rem;

                        a {
                            font-size: 1.2rem;

                            li {
                                padding: .5rem 1rem;
                            }
                        }
                    }
                }

                div.block {
                    flex: 0 2 100px;
                }
            }

            .productsBox {
                margin-left: auto;
                flex: 5 1 650px;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;

                .tabcontent {
                    min-height: 90vh;
                    width: 100%;
                    display: none;
                    border-top: none;
                    // justify-content: center;
                    text-align: center;

                    &.active {
                        display: flex;
                    }

                    .card-box {
                        display: flex;
                        flex-wrap: wrap;
                        overflow: auto;
                        height: 100vh;
                        align-content: flex-start;

                        .card {
                            flex: 0 0 200px;
                            max-height: 310px;
                            margin: 1rem;
                            display: flex;
                            flex-direction: column;

                            &:hover {
                                transform: scale(1.05);
                            }

                            img {
                                width: 200px;
                                height: 200px;
                                scale: .8;
                                object-fit: contain;
                            }

                            span.describe,
                            p {
                                max-width: 200px;
                                padding: .5rem;
                                // font-size: .8rem;
                            }

                            @media screen and (max-width:865px) {
                                flex: 0 0 180px;
                                margin: .5rem;

                                img {
                                    width: 180px;
                                    height: 180px;
                                    scale: .9;
                                }

                                span.describe,
                                p {
                                    max-width: 180px;
                                }
                            }

                            @media screen and (max-width:576px) {
                                flex: 0 0 165px;
                                margin: .3rem;

                                img {
                                    width: 165px;
                                    height: 165px;
                                    scale: 1;
                                }

                                span.describe,
                                p {
                                    max-width: 165px;
                                }
                            }

                            @media screen and (max-width:400px) {
                                margin: 0;

                                img {
                                    width: 150px;
                                    height: 150px;
                                    scale: 1;
                                }

                                span.describe,
                                p {
                                    max-width: 150px;
                                }
                            }
                        }
                    }
                }

                // .one {
                //     background-color: aquamarine;
                // }
                // .two {
                //     background-color: rgb(117, 141, 133);
                // }
                // .three {
                //     background-color: rgb(46, 56, 53);
                // }
            }
        }

        .pageLinks {
            margin: 2rem 0 .5rem;

            button.tablinks {
                padding: .1rem 1rem;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                background-color: white;
                color: black;
                border: 2px solid #555555;

                &:hover {
                    background-color: #555555;
                    color: white;
                }

                &.active {
                    border: 2px dashed #000;
                }
            }
        }


        @media screen and (max-width:470px) {
            padding: 0;
        }
    }
}