@charset "UTF-8";
@font-face {
  font-family: "myFont";
  src: url(/assets/plugins/字體/清松手寫體4.ttf);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "myFont", "Noto Sans TC", sans-serif;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}
html h2 {
  font-size: 1.5rem;
}

nav {
  height: 87px;
  position: relative;
  z-index: 3;
}
nav .navbar {
  width: calc(100vw - 17px);
  margin: auto;
  position: fixed;
  background-color: #ffffff;
  padding: 0.2rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 865px) {
  nav .navbar #nav-btn:checked ~ .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
nav .LogoName {
  height: 4rem;
}
nav #nav-btn {
  display: none;
}
nav .nav-btn {
  border: 0.5px dotted rgba(34, 34, 34, 0.5);
  width: 36px;
  height: 36px;
  background: rgb(255, 255, 255);
  padding: 6px;
  text-align: center;
  cursor: pointer;
  display: none;
}
nav .nav-btn:hover {
  background-color: #333;
}
nav .nav-btn:hover:before {
  color: #eceff3;
}
nav .nav-btn::before {
  font-family: FontAwesome;
  content: "\f0c9";
  font-size: 24px;
  color: #222;
}
@media screen and (max-width: 865px) {
  nav .nav-btn {
    display: block;
  }
}
nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 1rem;
  justify-items: flex-end;
}
@media screen and (max-width: 865px) {
  nav .nav-list {
    display: none;
    width: 100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 4.5rem;
    right: 0rem;
    background-color: rgba(255, 255, 255, 0.9);
  }
}
nav .nav-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .nav-list li a {
  padding: 1.5rem 0.75rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
nav .nav-list li a:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(47, 0, 255);
}
@media screen and (max-width: 865px) {
  nav .nav-list li a {
    width: 100vw;
    text-align: center;
  }
}

.container {
  font-size: 1.2rem;
  padding: 0;
  position: relative;
}
.container .top-btn {
  position: fixed;
  bottom: 5rem;
  right: 1rem;
}
.container .banner {
  height: 500px;
  background: url(/assets/styles/images/Pictures/bannerSample.jpg) no-repeat center/cover;
}
@media screen and (max-width: 500px) {
  .container .banner {
    height: 30vh;
  }
}
.container #about {
  height: 700px;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .container #about {
    width: calc(100vw - 17px);
    height: unset;
    position: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.container #about .board {
  width: 53vw;
  height: 500px;
  max-height: 850px;
  padding: 3rem 4.5rem;
}
@media screen and (max-width: 1000px) {
  .container #about .board {
    width: calc(100vw - 17px);
  }
}
@media screen and (max-width: 500px) {
  .container #about .board {
    padding: 3rem 1.5rem;
  }
}
.container #about .news {
  background-color: rgb(95, 95, 95);
  color: #ffffff;
}
.container #about .news h2 {
  font-weight: 400;
}
.container #about .news ul {
  padding: 1.5rem 1rem;
}
.container #about .news ul li {
  padding: 0.5rem;
}
.container #about .about {
  background-color: rgb(197, 197, 197);
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1000px) {
  .container #about .about {
    position: unset;
  }
}
.container #about .about .text-box {
  padding: 1rem 2rem 4rem 2rem;
  position: relative;
}
.container #about .about .text-box .text {
  overflow-y: auto;
  height: 5rem;
}
.container #about .about .text-box .about-btn {
  padding: 0.2rem 0.5rem;
  position: absolute;
  bottom: 1rem;
  right: 0;
  border: none;
}
.container #about .about .text-box .about-btn:hover {
  background-color: rgb(230, 230, 230);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.container #about .about .serve {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.container #about .about .serve .keys,
.container #about .about .serve .others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container #about .about .serve .keys .serve-item,
.container #about .about .serve .others .serve-item {
  margin: 0.5rem;
  width: 130px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 2rem;
  background-color: #fff;
  cursor: pointer;
}
.container #about .about .serve .keys .serve-item:hover,
.container #about .about .serve .others .serve-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.container #about .about .serve a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  color: rgb(0, 0, 255);
  margin-top: 1rem;
}
.container #about .about .serve a:hover {
  border: 1px dashed rgb(0, 0, 255);
  color: rgba(0, 0, 255, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.container #info {
  padding: 3rem 4.5rem;
}
.container #info .tab {
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
}
.container #info .tab::before {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
}
.container #info .tab .tablinks {
  background-color: #ddd;
  border: none;
  border-radius: 10px 10px 0 0;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.2rem;
}
.container #info .tab .tablinks:hover {
  background-color: rgb(62, 186, 235);
}
.container #info .tab .tablinks.active {
  background-color: bisque;
}
.container #info .tabcontent {
  display: none;
  border-top: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.container #info .tabcontent.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.container #info .tabcontent .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  height: 320px;
}
.container #info .tabcontent .card-box .card {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container #info .tabcontent .card-box .one {
  background-color: aquamarine;
}
.container #info .tabcontent .card-box .two {
  background-color: rgb(117, 141, 133);
}
.container #info .tabcontent .card-box .three {
  background-color: rgb(46, 56, 53);
}
.container #brand {
  padding: 3rem 4.5rem;
}
.container #brand .pd-brand {
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-750px);
            transform: translateX(-750px);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-750px);
            transform: translateX(-750px);
  }
}
.container #brand .pd-brand .slider {
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  overflow: hidden;
  position: relative;
}
.container #brand .pd-brand .slider::before, .container #brand .pd-brand .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 248, 183, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 248, 183, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
}
.container #brand .pd-brand .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
.container #brand .pd-brand .slider::before {
  left: 0;
  top: 0;
}
.container #brand .pd-brand .slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  width: 750px;
}
.container #brand .pd-brand .slider .slide-track .slide {
  height: 100px;
  width: 250px;
}
.container #contact {
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.container #contact iframe {
  border-radius: 20px;
}
.container #contact .contact-box {
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 997px) {
  .container #contact .contact-box {
    margin: 3rem;
  }
}
.container #contact .contact-box .contact-info {
  padding: 1rem 2rem;
}
.container #contact .contact-box .contact-info .p1 {
  margin: 0.3rem 0;
}
.container #contact .contact-box .contact-info .p2 {
  margin-top: -0.5rem;
}
.container #contact .contact-box .contact-info .open-time {
  text-align: right;
}
.container #contact .contact-box .contact-info a {
  text-decoration: none;
  color: black;
}
.container #contact .contact-box .contact-info .QRcode:hover img,
.container #contact .contact-box .contact-info .QRcode:hover .p2 {
  color: blue;
}

footer {
  padding: 1.5rem 0 0.5rem 0;
  background-color: #E4E4E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}
footer .Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .Icons .contact-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  margin: 0 0.5rem;
}
footer .Icons .FootLogo {
  height: 3.3rem;
}
footer .Icons .ATel {
  margin-left: 0.5rem;
}
footer .Icons .contactIcon {
  height: 2.3rem;
}
footer .contact {
  margin: 0.5rem 0;
}
footer .copyright {
  margin-top: 1rem;
}