@charset "UTF-8";
@font-face {
  font-family: "myFont";
  src: url(../../plugins/字體/清松手寫體4.ttf);
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "myFont", "Noto Sans TC", sans-serif;
  font-weight: 600;
}

html {
  scroll-behavior: smooth;
}
html h2 {
  font-size: 1.5rem;
}

/* scrollbar setting */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(230, 230, 230);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #333;
}

nav {
  height: 87px;
  position: sticky;
  top: 0;
  z-index: 3;
  -webkit-box-shadow: 3px 3px 5px 1px rgb(107, 107, 107);
          box-shadow: 3px 3px 5px 1px rgb(107, 107, 107);
  background-color: rgba(255, 255, 255, 0.9);
}
nav .navbar {
  margin: auto;
  padding: 0.2rem 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 865px) {
  nav .navbar #nav-btn:checked ~ .nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
nav .LogoName {
  height: 4rem;
}
nav #nav-btn {
  display: none;
}
nav .nav-btn {
  border: 0.5px dotted rgba(34, 34, 34, 0.5);
  border-radius: 15%;
  width: 36px;
  height: 36px;
  background: rgb(230, 230, 230);
  padding: 6px;
  text-align: center;
  cursor: pointer;
  display: none;
}
nav .nav-btn:hover {
  background-color: #333;
}
nav .nav-btn:hover:before {
  color: rgb(255, 255, 255);
}
nav .nav-btn::before {
  font-family: FontAwesome;
  content: "\f0c9";
  font-size: 24px;
  color: #222;
}
@media screen and (max-width: 865px) {
  nav .nav-btn {
    display: block;
  }
}
nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding-left: 1rem;
  justify-items: flex-end;
}
@media screen and (max-width: 865px) {
  nav .nav-list {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 4.5rem;
    right: 0rem;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 3px 3px 5px 1px rgb(107, 107, 107);
            box-shadow: 3px 3px 5px 1px rgb(107, 107, 107);
  }
}
nav .nav-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
nav .nav-list li a {
  padding: 1.5rem 0.75rem;
  color: rgb(0, 0, 0);
  text-decoration: none;
  border-radius: 2rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
nav .nav-list li a:hover {
  color: rgb(47, 0, 255);
}
@media screen and (max-width: 865px) {
  nav .nav-list li a {
    width: 100vw;
    text-align: center;
    border-radius: unset;
  }
  nav .nav-list li a:hover {
    background-color: rgb(245, 245, 245);
  }
}

footer {
  padding: 1.5rem 0 0.5rem 0;
  background-color: #E4E4E4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
}
footer .Icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer .Icons .contact-icon:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
footer .Icons .contact-icon:hover img {
  opacity: 0.3;
}
footer .Icons .FootLogo {
  height: 3.3rem;
}
footer .Icons .ATel {
  margin-left: 0.5rem;
}
footer .Icons .contactIcon {
  height: 2.3rem;
}
footer .contact {
  margin: 0.5rem 0;
}
footer .copyright {
  margin-top: 1rem;
}

.container {
  font-size: 1.2rem;
  padding: 0;
  position: relative;
}

.top-btn-side {
  width: 100px;
  height: 100vh;
  position: fixed;
  bottom: 5rem;
  right: -1.7rem;
  padding-top: 85vh;
  padding-left: 50px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.top-btn-side:hover {
  width: 60px;
  padding-left: 0px;
  right: 0rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.top-btn-side .top-btn {
  opacity: 0.5;
}
.top-btn-side .top-btn:hover {
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
@media screen and (max-width: 576px) {
  .top-btn-side {
    width: unset;
    height: unset;
    padding: unset;
    bottom: 1rem;
    right: 0.5rem;
  }
  .top-btn-side:hover {
    width: unset;
    right: 0.5rem;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
}
@media screen and (max-width: 415px) {
  .top-btn-side:hover {
    opacity: 0.5;
  }
}

.banner {
  height: 400px;
  background: no-repeat center/contain url(../images/Icons/Name-card.png);
}
@media screen and (max-width: 576px) {
  .banner {
    height: 30vh;
  }
}

#about {
  height: 700px;
  position: relative;
}
@media screen and (max-width: 992px) {
  #about {
    position: unset;
    height: unset;
    position: unset;
    display: block;
  }
}
#about .board {
  width: 53vw;
  height: 500px;
  max-height: 850px;
  padding: 3rem 4.5rem;
}
@media screen and (max-width: 992px) {
  #about .board {
    width: unset;
  }
}
@media screen and (max-width: 576px) {
  #about .board {
    padding: 3rem 1.5rem;
  }
}
#about .news {
  background-color: rgb(95, 95, 95);
  color: #ffffff;
}
#about .news h2 {
  font-weight: 400;
}
#about .news ul {
  padding: 1.5rem 2rem;
}
#about .news ul li {
  padding: 0.5rem;
}
#about .about {
  background-color: rgb(197, 197, 197);
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 992px) {
  #about .about {
    position: unset;
  }
}
#about .about .text-box {
  padding: 0.5rem 1rem 1rem 1rem;
  position: relative;
}
#about .about .text-box .text {
  overflow-y: auto;
  height: 5rem;
}
#about .about .serve {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#about .about .serve .keys,
#about .about .serve .others {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#about .about .serve .keys .serve-item,
#about .about .serve .others .serve-item {
  margin: 0.5rem;
  width: 120px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 2rem;
  background-color: #fff;
  cursor: pointer;
}
#about .about .serve .keys .serve-item:hover,
#about .about .serve .others .serve-item:hover {
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media screen and (max-width: 576px) {
  #about .about .serve .keys .serve-item,
#about .about .serve .others .serve-item {
    width: 100px;
    margin: 0.5rem;
  }
  #about .about .serve .keys .door,
#about .about .serve .others .door {
    width: 120px;
  }
}
#about .about .serve .others {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
#about .about .serve a {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-decoration: none;
  color: rgb(0, 0, 255);
  margin-top: 1.5rem;
}
#about .about .serve a:hover {
  border: 1px dashed rgb(0, 0, 255);
  color: rgba(0, 0, 255, 0.8);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#info {
  padding: 3rem 4.5rem;
}
@media screen and (max-width: 576px) {
  #info {
    padding: 3rem 1.5rem;
  }
}
#info .tab {
  position: relative;
  margin-top: 2rem;
  overflow: hidden;
}
#info .tab::before {
  content: "";
  width: 100vw;
  height: 2px;
  background-color: black;
  position: absolute;
  bottom: 0;
}
#info .tab .tablinks {
  background-color: #ddd;
  border: none;
  border-radius: 10px 10px 0 0;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-size: 1.2rem;
}
#info .tab .tablinks:hover {
  background-color: rgb(62, 186, 235);
}
#info .tab .tablinks.active {
  background-color: bisque;
}
#info .tabcontent {
  display: none;
  border-top: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
#info .tabcontent.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
#info .tabcontent .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
  height: 320px;
}
#info .tabcontent .card-box .card {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
#info .tabcontent .card-box .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
#info .tabcontent .card-box .one {
  background-color: aquamarine;
}
#info .tabcontent .card-box .two {
  background-color: rgb(117, 141, 133);
}
#info .tabcontent .card-box .three {
  background-color: rgb(46, 56, 53);
}

#brand {
  padding: 3rem 4.5rem;
}
@media screen and (max-width: 576px) {
  #brand {
    padding: 3rem 0rem;
  }
  #brand h2 {
    padding: 0rem 1.5rem;
  }
}
#brand .pd-brand {
  margin-top: 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-750px);
            transform: translateX(-750px);
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-750px);
            transform: translateX(-750px);
  }
}
#brand .pd-brand .slider {
  -webkit-box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
          box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 100px;
  overflow: hidden;
  position: relative;
}
#brand .pd-brand .slider::before, #brand .pd-brand .slider::after {
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 248, 183, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 248, 183, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 100px;
  z-index: 2;
}
#brand .pd-brand .slider::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}
#brand .pd-brand .slider::before {
  left: 0;
  top: 0;
}
#brand .pd-brand .slider .slide-track {
  -webkit-animation: scroll 30s linear infinite;
          animation: scroll 30s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  width: 750px;
}
#brand .pd-brand .slider .slide-track .slide {
  height: 100px;
  width: 250px;
}
#brand .pd-brand .slider .slide-track .slide:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#contact {
  padding: 3rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
#contact iframe {
  border-radius: 20px;
}
#contact .contact-box {
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (max-width: 997px) {
  #contact .contact-box {
    margin: 3rem 0;
  }
}
#contact .contact-box .contact-info {
  padding: 1rem 2rem;
}
#contact .contact-box .contact-info .p1 {
  margin: 0.3rem 0;
}
#contact .contact-box .contact-info .p2 {
  margin-top: -0.5rem;
}
#contact .contact-box .contact-info .open-time {
  text-align: right;
}
#contact .contact-box .contact-info a {
  text-decoration: none;
  color: black;
}
#contact .contact-box .contact-info .QRcode:hover img,
#contact .contact-box .contact-info .QRcode:hover .p2 {
  color: blue;
}

section.container .tittle {
  padding: 3rem 4.5rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
section.container div.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.container div.main .mainProduct {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.container div.main .mainProduct .brandLinks {
  margin: 0 2rem;
  padding: 1.5rem 0.5rem;
  border: 1px solid #000;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 0 200px;
          flex: 0.5 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.container div.main .mainProduct .brandLinks ul li {
  list-style-type: none;
}
section.container div.main .mainProduct .brandLinks ul li a {
  text-decoration: none;
  color: black;
}
section.container div.main .mainProduct .brandLinks ul li a.active {
  color: rgb(47, 0, 255);
}
section.container div.main .mainProduct .productsBox {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 650px;
          flex: 5 1 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.container div.main .mainProduct .productsBox .tabcontent {
  min-height: 80vh;
  width: 100%;
  display: none;
  border-top: none;
  text-align: center;
}
section.container div.main .mainProduct .productsBox .tabcontent.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 320px;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .one {
  background-color: aquamarine;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .two {
  background-color: rgb(117, 141, 133);
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .three {
  background-color: rgb(46, 56, 53);
}
section.container div.main .mainProduct .productsBox .pageLinks button.tablinks {
  padding: 0.1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
section.container div.main .mainProduct .productsBox .pageLinks button.tablinks:hover {
  background-color: #555555;
  color: white;
}
section.container div.main .mainProduct .productsBox .pageLinks button.tablinks.active {
  border: 2px dashed #000;
}