section.container .tittle {
  padding: 3rem 4.5rem 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
}
section.container div.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}
section.container div.main .mainProduct {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.container div.main .mainProduct .brandLinks {
  margin-right: 2rem;
  padding: 1.5rem 0.5rem;
  border: 1px solid #000;
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 0 200px;
          flex: 0.5 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("/assets/styles/images/Pictures/com_a_bg01.png") center/cover no-repeat;
}
section.container div.main .mainProduct .brandLinks ul li {
  margin: 1rem;
}
section.container div.main .mainProduct .brandLinks ul li a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
}
section.container div.main .mainProduct .brandLinks ul li a.active {
  color: rgb(47, 0, 255);
}
section.container div.main .mainProduct .productsBox {
  -webkit-box-flex: 5;
      -ms-flex: 5 1 650px;
          flex: 5 1 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.container div.main .mainProduct .productsBox .tabcontent {
  min-height: 90vh;
  width: 100%;
  display: none;
  border-top: none;
  text-align: center;
}
section.container div.main .mainProduct .productsBox .tabcontent.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card {
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card img {
  width: 200px;
  height: 200px;
  scale: 0.8;
  -o-object-fit: contain;
     object-fit: contain;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card span.describe {
  max-width: 200px;
  padding: 0.5rem;
  font-size: 0.8rem;
}
section.container div.main .mainProduct .productsBox .pageLinks {
  margin: 2rem 0 0.5rem;
}
section.container div.main .mainProduct .productsBox .pageLinks button.tablinks {
  padding: 0.1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
section.container div.main .mainProduct .productsBox .pageLinks button.tablinks:hover {
  background-color: #555555;
  color: white;
}
section.container div.main .mainProduct .productsBox .pageLinks button.tablinks.active {
  border: 2px dashed #000;
}