@media screen and (max-width: 865px) {
  section.container #brandName:checked ~ .brandLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
section.container .tittle {
  padding: 3rem 4.5rem 1rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  position: relative;
}
section.container div.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2rem;
}
section.container div.main .mainProduct {
  min-height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.container div.main .mainProduct #brandName {
  display: none;
}
section.container div.main .mainProduct .brandName {
  display: none;
  padding: 0.5rem;
  position: absolute;
  top: 2.8rem;
  left: 11.5rem;
  color: rgb(47, 0, 255);
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media screen and (max-width: 865px) {
  section.container div.main .mainProduct .brandName {
    display: block;
  }
}
section.container div.main .mainProduct .brandLinks {
  padding: 1.5rem 0.5rem;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 7px;
  border-image-source: linear-gradient(to left, #292929, #b6b6b6);
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 0 200px;
          flex: 0.5 0 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.container div.main .mainProduct .brandLinks ul li {
  list-style-type: none;
  border: 3px dotted rgba(0, 0, 0, 0.1);
}
section.container div.main .mainProduct .brandLinks ul li:hover {
  border: 3px dotted #000;
  border-radius: 30px;
  -webkit-transition: all 1s;
  transition: all 1s;
}
section.container div.main .mainProduct .brandLinks ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0.2rem 1rem;
  width: 100%;
  text-decoration: none;
  color: black;
  font-size: 1rem;
}
section.container div.main .mainProduct .brandLinks ul li a.active {
  color: rgb(47, 0, 255);
}
section.container div.main .mainProduct .brandLinks ul li a img {
  height: 3rem;
}
section.container div.main .mainProduct div.block {
  -webkit-box-flex: 0.5;
      -ms-flex: 0.5 6 8rem;
          flex: 0.5 6 8rem;
  height: 10px;
}
@media screen and (max-width: 865px) {
  section.container div.main .mainProduct .brandLinks {
    display: none;
    position: absolute;
    top: 5.3rem;
    left: 11.3rem;
    z-index: 5;
    background-color: #fff;
    border-image-slice: 1;
    border-width: 5px;
    border-image-source: linear-gradient(to bottom, #c4a000, #3f3f3f);
    padding: 0;
    width: 11.5rem;
  }
  section.container div.main .mainProduct .brandLinks ul {
    padding: 0.5rem;
  }
  section.container div.main .mainProduct .brandLinks ul li a {
    width: 100%;
    padding: 0.2rem 1rem;
    font-size: 1rem;
  }
  section.container div.main .mainProduct .brandLinks ul li a span {
    display: none;
  }
  section.container div.main .mainProduct div.block {
    -webkit-box-flex: 0;
        -ms-flex: 0 2 100px;
            flex: 0 2 100px;
  }
}
section.container div.main .mainProduct .productsBox {
  margin-left: auto;
  -webkit-box-flex: 5;
      -ms-flex: 5 1 650px;
          flex: 5 1 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
section.container div.main .mainProduct .productsBox .tabcontent {
  min-height: 90vh;
  width: 100%;
  display: none;
  border-top: none;
  text-align: center;
}
section.container div.main .mainProduct .productsBox .tabcontent.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: auto;
  height: 100vh;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 200px;
          flex: 0 0 200px;
  max-height: 310px;
  margin: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card img {
  width: 200px;
  height: 200px;
  scale: 0.8;
  -o-object-fit: contain;
     object-fit: contain;
}
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card span.describe,
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card p {
  max-width: 200px;
  padding: 0.5rem;
}
@media screen and (max-width: 865px) {
  section.container div.main .mainProduct .productsBox .tabcontent .card-box .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 180px;
            flex: 0 0 180px;
    margin: 0.5rem;
  }
  section.container div.main .mainProduct .productsBox .tabcontent .card-box .card img {
    width: 180px;
    height: 180px;
    scale: 0.9;
  }
  section.container div.main .mainProduct .productsBox .tabcontent .card-box .card span.describe,
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card p {
    max-width: 180px;
  }
}
@media screen and (max-width: 576px) {
  section.container div.main .mainProduct .productsBox .tabcontent .card-box .card {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 165px;
            flex: 0 0 165px;
    margin: 0.3rem;
  }
  section.container div.main .mainProduct .productsBox .tabcontent .card-box .card img {
    width: 165px;
    height: 165px;
    scale: 1;
  }
  section.container div.main .mainProduct .productsBox .tabcontent .card-box .card span.describe,
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card p {
    max-width: 165px;
  }
}
@media screen and (max-width: 400px) {
  section.container div.main .mainProduct .productsBox .tabcontent .card-box .card {
    margin: 0;
  }
  section.container div.main .mainProduct .productsBox .tabcontent .card-box .card img {
    width: 150px;
    height: 150px;
    scale: 1;
  }
  section.container div.main .mainProduct .productsBox .tabcontent .card-box .card span.describe,
section.container div.main .mainProduct .productsBox .tabcontent .card-box .card p {
    max-width: 150px;
  }
}
section.container div.main .pageLinks {
  margin: 2rem 0 0.5rem;
}
section.container div.main .pageLinks button.tablinks {
  padding: 0.1rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  background-color: white;
  color: black;
  border: 2px solid #555555;
}
section.container div.main .pageLinks button.tablinks:hover {
  background-color: #555555;
  color: white;
}
section.container div.main .pageLinks button.tablinks.active {
  border: 2px dashed #000;
}
@media screen and (max-width: 470px) {
  section.container div.main {
    padding: 0;
  }
}